@using MvcNetKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLUYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<h2>Uyeler</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>Soyadı</th>
        <th>Mail</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Telefon</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.AD</td>
            <td>@ktg.SOYAD</td>
            <td>@ktg.MAIL</td>
            <td>@ktg.KULLANICIADI</td>
            <td>@ktg.SIFRE</td>
            <td>@ktg.TELEFON</td>
            <td>@ktg.OKUL</td>
            <td><a href="/Uye/UyeSil/@ktg.ID" class="btn btn-danger ">sil</a></td>
            <td><a href="/Uye/UyeGetir/@ktg.ID" class="btn btn-success ">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Uye/UyeEkle/" class="btn btn-primary">Yeni Uye Ekle</a>
