@using MvcNetKutuphane.Models.Entity
@model List<TBLKITAP>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<h2>Kitaplar</h2>

@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
    <div style="margin-bottom:15px; margin-top:15px;">
        <b>Aranacak Kitap Adını Giriniz:</b>@Html.TextBox("p")
        <input type="submit" value="Ara" />

    </div>

}
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kitap ADI</th>
        <th>Yazar Adı</th>
        <th>Kategori</th>
        <th>Basım Yılı</th>
        <th>Yayın Evi</th>
        <th>Sayfa Sayısı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var ktg in Model)
    {
        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.AD</td>
            <td>@ktg.TBLYAZAR.AD @ktg.TBLYAZAR.SOYAD</td>
            <td>@ktg.TBLKATEGORI.ADI</td>
            <td>@ktg.BASIMYIL</td>
            <td>@ktg.YAYINEVI</td>
            <td>@ktg.SAYFA</td>
            <!--Yazan yazı, Gidilecek ActionResult-->
            <td>@Html.ActionLink("Sil", "KitapSil", new { id = ktg.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istiyor musunuz?')" })</td>
            <td>@Html.ActionLink("Güncelle", "KitapGetir", new { id = ktg.ID }, new { @class = "btn btn-success" })</td>

        </tr>
        }
</table>

<a href="/Kitap/KitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>